BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
ContinuationIndentWidth: 4
UseTab: Never
ColumnLimit: 120

BreakBeforeBraces: Attach

FixNamespaceComments: false

SortIncludes: CaseInsensitive
IncludeBlocks: Regroup

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

NamespaceIndentation: All
